.custom-vertical-scrollbar {
  /* Firefox */
  scrollbar-width: thin thin;
  scrollbar-color: #424242 #313234;
}

.custom-vertical-scrollbar-light {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #e9e7e7 white;
}


@keyframes coolEntrance {
  0% {
      opacity: 0;
      transform: translateY(40px) 
  }
  50% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
      transform: translateY(0) scale(1) 
  }
}
.animate-coolEntrance {
  animation: coolEntrance 0.7s ease-out forwards;
}

/* Chrome, Edge, and Safari */
